version: "3"

services:
  redis:
    image: "redis:alpine"
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - studiox-network

  nginx:
    image: 010709min/nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      - studiox-network

  alloy:
    build:
      context: .
      dockerfile: config/alloy/Dockerfile.alloy
    image: studiox-alloy:latest
    user: "0:0"
    container_name: alloy
    ports:
      - "12345:12345"
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - /etc/alloy/config.alloy
    volumes:
      - ./logs:/var/log:ro
    environment:
      - ALLOY_ENV=prod
      - LOKI_URL=http://${MONITORING_URL}:3100/loki/api/v1/push
    networks:
      - studiox-network

volumes:
  redis-data:

networks:
  studiox-network:
    name: studiox-network
