version: "3"

services:
  redis:
    image: "redis:alpine"
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - studiox-network

  nginx:
    image: 010709min/nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    networks:
      - studiox-network

volumes:
  redis-data:

networks:
  studiox-network:
